input[type="text"], 
input[type="number"], 
input[type="email"],
input[type="address"],
input[type="password"] {
  width: 200px; /* Set width of the input field */
  padding: 5px; /* Add padding to the input field */
  border: 1px solid #ccc; /* Add border to the input field */
  border-radius: 3px; /* Add border radius to the input field */
  margin-left: 40px; /* Add left margin to the input field */
}