
<html>
<head>
    <title>Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/Home/Login" method="post">
        <div class="container" style="margin:70px">
            <br />
            <center>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <tbody>
                            
                            <tr>
                                <td>Email</td>
                                <td>
                                    <input type="text" name="email" value="@Model.email" />
                                </td>
                            </tr>
                            

                            <tr>
                                <td>password</td>
                                <td>
                                    <input type="number" name="password" value="@Model.password" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="submit" name="btnAdd" value="Submit" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

    </form>
</body>
</html>